@import "../scss/constant";

.tituloNavbar{
    font-size: 1,25rem;
    font-weight: 700;
    color: map-get($colores, primario);
}

a{
    color: map-get($colores, terciario);
    text-decoration: none;
    padding-right: 1vw;
}

a:hover{
    color: map-get($colores, primario);
}