.count_div{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.count_container{
    aspect-ratio: 1/0,5;
    height: 20px;
}